@font-face {
    font-family: "Open Sans Regular";
    src: url("../fonts/OpenSansRegular.eot");
    src: url('../fonts/OpenSans.eot?#iefix') format('embeddedopentype'),
    url("../fonts/OpenSansRegular.woff") format("woff"),
    url("../fonts/OpenSansRegular.ttf") format("truetype");
    font-style: normal;
    font-weight: normal;
    
}


 @font-face {
     font-family: "Open Sans Bold";
     src: url("../fonts/OpenSansBold.eot");
     src: url('../fonts/OpenSansBold.eot?#iefix') format('embeddedopentype'),
     url("../fonts/OpenSansBold.woff") format("woff"),
     url("../fonts/OpenSansBold.ttf") format("truetype");
    font-style: normal;
    font-weight: normal;
 }


@font-face {
    font-family: "Open Sans Semibold";
    src: url("../fonts/OpenSansSemiBold.eot");
    src: url('../fonts/OpenSansSemiBold.eot?#iefix') format('embeddedopentype'),
    url("../fonts/Open Sans Semibold") format("woff"),
    url("../fonts/OpenSansSemiBold.ttf") format("truetype");
     font-style: normal;
     font-weight: normal;
}





/* Сброс стилей */

html, body, div, span, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, 
a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, 
small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, 
fieldset,  form,  label,  legend,  table,  caption,  tbody,  tfoot,  thead,  tr,  th,  td, 
article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary, time, mark, audio, video {
   
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    vertical-align: baseline;
}
article,  aside,  details,  figcaption,  figure,  footer,  header,  hgroup,  menu,  nav, 
section {
    display: block;
}

html {
    height: 100%;   
    margin:0;
    padding: 0;
    // overflow-x: hidden;
}

body {
        height: 100%;
        font-family: "Open Sans Regular";
        color: #555;
        
}


a   {
cursor: pointer;
text-decoration: none;
  
}


a:hover{
    text-decoration: none;
    
}

html { 
    overflow-x:  hidden;
     }


li {
    list-style-type: none; /* Убираем маркеры */
   }


/*Стили шапки сайта */

.section_title {
font-size: 20px;
font-weight: bold;
text-align: center;
text-transform: uppercase;  
margin: 20px 0;
color: rgba(0,0,0,.8);
}
span.blue_text {
color: rgb(38, 53, 140);
display: block;
margin-bottom: 10px;
font-size: 19px;
font-family: "Open Sans Bold";
}






@media screen and (max-width:1200px) {

.stage {
    
    
    width: 100%;
    

}

    .who .items
{
    position: relative;
   display: inline-block;
    text-align: center;  
    width: 100%;
     
}


.price {
    
    text-align: right;
     }


header .phone
{

font-size: 20px!important;

}
}





.we_do {
    display: flex;
    justify-content: center;

}

.stage {
    
    margin: 0 auto;
    margin-bottom: 20px;
    text-align: center;
    width: 20%;
    display: inline-block;

}

@media screen and (max-width:1000px) {
//     .we_do {
//     flex-wrap: no-wrap;

// }
}





p#phone2
{
     font-family: 'Open Sans Bold', arial;
     font-size: 27px;
     font-weight: bold;
     color: #fff;
     display: block;
     text-align: right;  
    
}


.sity
{
    margin-top: -10px;
}.sity i
{font-size: 24px;

    color: #26358c;
}



a#callback2
{
    font-family: 'Open Sans Bold', arial;
     font-size: 18px;
     font-weight: bold;
     color: #fff;
     margin-bottom: 12px;
     display: block;
     text-align: right;
     
}


.caption
{
    position: relative;
    height: 750px;
    transition: all .3s ease-in-out;
    background-repeat: no-repeat;
    background-position: 0 0;
    background-size: cover;
}

.caption .items
{
    position: relative;
    top: 200px;
    height: 550px;
}

.caption #h-t
{
    font-family: 'Roboto', sans-serif;
    font-size: 34px;line-height: 40px;
    transition: all .2s ease-in-out;
    text-transform: uppercase;color: #fff;
}

.caption .backgr
{position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background:-moz-linear-gradient(290deg, rgba(0, 0, 0, 0) 0%, #000 100%);
    background:-webkit-gradient(linear, 290deg, color-stop(0%, rgba(0, 0, 0, 0)), color-stop(100%, #000));
    background:-webkit-linear-gradient(290deg, rgba(0, 0, 0, 0) 0%, #000 100%);
    background:-o-linear-gradient(290deg, rgba(0, 0, 0, 0) 0%, #000 100%);
    background:-ms-linear-gradient(290deg, rgba(0, 0, 0, 0) 0%, #000 100%);
    background:linear-gradient(160deg, rgba(0, 0, 0, 0) 0%, #000 100%);
    
}

ul.vib
{    position: absolute;
    bottom: 115px;
    margin-bottom: 0;
    padding-top: 10px;
    list-style: none;
    border-top: 2px solid #26358c;
}

ul.vib li
{
    padding: 5px 0;
}

ul.vib li a.name
{
    font-size: 30px;
    font-weight: 600;
    position: relative;

    transition: all .3s ease-in-out;
    color: #fff;
}

ul.vib li a.name:before
{
    position: absolute;
    top: 6px;
    left: -40px;
    width: 30px;
    height: 30px;
    content: '';

    background: url(../img/check.png) no-repeat 0 0;
}

ul.vib li a.name:hover
{
    color: #26358c;
}

ul.vib li.active a.name
{
    color: #26358c;
}

a.li_btn
{display: inline-block;
    margin-left: 30px;
    padding: 10px 15px;
    transition: all .3s ease-in-out;

    opacity: 0;
    color: #040404;
    border-radius: 3px;background: #26358c;
}

ul.vib li.active a.li_btn
{
    opacity: 1;
}
.who
{
    font-size: 16px;
}
.who .title
{

    font-size: 30px;
    font-weight: 600;
    margin-top: 80px;
}

.who .title span
{
    font-size: 48px;
    font-weight: bold;

    display: block;
    margin-bottom: -10px;
}
.who .text
{
    margin-top: 10px;
    margin-bottom: 60px;
    padding-top: 10px;
    border-top: 2px solid #26358c;
}
.who .items
{
    position: relative;
   display: inline-block;
    text-align: center;  
    width: 33%;
     
}

// .who .items .pad
// {
//     padding-bottom: 30px;
//     width: 90%;
//     margin-right: 10px; 
//     margin-left: 10px;
//     text-align: center;  
//     margin: 0 auto;
   
// }






@media screen and (max-width : 992px){
// html{
//     overflow-x: scroll;
// }



 input {
    padding-bottom: 6px;
 }

 .pad {
    min-height: 338px;

 }
 p.activity_title {
    font-size: 20px;
    margin-left: 0;
    text-align: center;
 }
 .h-btn .more_button .hvr_out_hor_change_color {
    font-size: 15px!important;
    
 }
}

.who .items.top .name
{
    font-size: 20px;
    font-weight: bold;
    position: relative;
    z-index: 20;
    top: 0;
    left: 0;

    width: 100%;
    padding: 15px;
    color: #010101;
    background: #26358c;
}

.who .items.top .name:after
{
    position: absolute;
    z-index: -10;
    top: 40px;
    left: 0;

    content: '';
    border: 25px solid transparent;
    border-top: 25px solid #26358c;
    border-left: 25px solid #26358c;
}

.who .items.top .image
{
    margin-top: 5px;
}.who .items .name
{
    font-size: 20px;
    font-weight: bold;
    position: absolute;
    z-index: 20;
    top: 10px;
    left: 5px;

    width: 90%;
    padding: 10px;
    color: #010101;
    background: #26358c;
}

.who .items .image
{
    position: relative;

    overflow: hidden;
}

.who .items .image img
{
    width: 100%;
    height: 100%;
}

.who .items .image:hover .hov
{
    top: 0;

}

.who .items .image .hov 
{

    position: absolute;
    top: 100%;
    width: 100%;
    height: 100%;
background: rgba(0, 0, 0, .6); 
   
}



a.h-btn
{font-size: 18px;
font-weight: 600;
position: relative;
top: 40%;
display: block;
width: 60%;
margin: 0 auto;
padding: 10px;
text-align: center;
font-family: 'Open Sans Semibold';
}


a.more_button {
font-family: 'Open Sans Semibold';
display: block;
border-radius: 4px;
color: #fff;
margin-bottom: 23px; 
  background-color: rgb(43, 181, 175);
  width: 230px;
  height: 45px;
 

}



input {
    height: 40px;
    width: 250px;
    padding-left: 15px;
    font-size: 13px!important;



}


a.sign {
border-radius: 8px;
background-color: transparent;
border: 1px solid #e3e3e3;
color: #e3e3e3!important;
}



.h-block
{
margin-bottom: 40px;
margin-top: 20px;
padding-bottom: 20px;
background: url(../img/green_line.png) no-repeat 0 0;
width: 80%;
margin:auto;

    
}.h-block .h-title
{
    font-size: 48px;
    font-weight: 600;
}

.h-block .desc
{
    font-size: 30px;
    font-weight: 600;
}

.partners
{
    padding-bottom: 60px;
}
.partners .block-part .logo
{
    line-height: 110px;
    position: relative;
    height: 110px;
    margin-bottom: 20px;

    text-align: center;
}
.partners .block-part .logo img
{
    vertical-align: middle;
}

.partners .block-part .text
{
    font-size: 18px;font-weight: 600;
}

.ready
{padding: 60px 0 30px;
background: url(../img/bg_ready.jpg) no-repeat 0 0;
background-size: cover;
}

.ready .h-block
{
    color: #fff;
    border-bottom: 0;
}
.ready .row
{
    margin-bottom: 50px;
}

.ready .items .img
{
    overflow: hidden;
}
.ready .items
{
    margin: 20px;
}
.ready .items .zed
{
    position: relative;z-index: 20;
}
.ready .items .name
{font-size: 20px;
    font-weight: bold;
    position: absolute;
    z-index: 20;
    top: 10px;
    left: 0;
    width: 90%;
    padding: 10px 10px 10px 40px;
    text-align: left;
    color: #010101;
    background: #26358c;
}

.ready .items .header-text
{
    padding: 20px;
    background: #fff;
}
.ready .items .about-price
{
    padding: 10px 0;
    text-align: center;
    background: #e8e8e8;
}

.ready .items .about-price .info-price
{
    font-size: 18px;
    display: block;
    margin-left: 45px;
    text-align: left;
}

.ready .items .about-price .info-price span
{
    font-size: 24px;
    font-weight: bold;
}
.ready .items .about-price .info-price span.old
{font-size: 24px;
    font-weight: bold;

    color: #444;
    background: linear-gradient(to top left, rgba(0,0,0,0) 0%, rgba(0,0,0,0) calc(50% - 2px), rgba(0,0,0,1) 50%, rgba(0,0,0,0) calc(50% + 2px), rgba(0,0,0,0) 100%);
}

.ready .items .send-request
{
    padding: 15px 0 22px 0;
    text-align: center;
    background: #fff;
}

.ready .items .send-request .link
{
    margin-bottom: 5px;
}
.ready .items .send-request a
{
    font-size: 16px;
    text-decoration: none;
    color: cornflowerblue;
    border-bottom: 1px dashed;

}
.ready .items .send-request .send-btn
{
    font-size: 18px;
    font-weight: bold;
    display: inline-block;
    width: 53%;
    margin-top: 10px;
    padding: 5px 10px;
    transition: all .3s ease-in-out 0s;
    text-align: center;
    color: #040404;
    border: medium none;
    background: #26358c none repeat scroll 0 0;
}

.ready .items .cont
{
    position: relative;
    z-index: 10;
    overflow: hidden;
    min-height: 300px;
    margin-top: -10px;
    margin-left: -50%;
    padding-left: 50%;
    background: #fff;
}

.ready .items .cont .text
{
    font-size: 18px;
    padding: 40px 30px 10px 0;
}

.ready .items .cont .bottom
{
    overflow: hidden;
    margin-top: 15px;
    margin-bottom: 15px;
}

.ready .items .cont a.li_btn
{
    margin-left: 0;
    opacity: 1;
}
.ready .items .cont .price
{
    font-size: 24px;
    font-weight: bold;
    margin-right: 20px;
    text-align: right;
    border-top: 2px solid #26358c;
}
.calculator
{
    padding-top: 70px;
    padding-bottom: 30px;
    background: #f3f5f3;
}
.calculator .image img
{
    height: 320px;
}
.calculator .h-block
{
    margin-top: -15px;
    border-bottom: none;
}
.calculator .h-block .calculate-btn
{
    font-size: 33px;
    font-weight: 600;
    display: inline-block;
    width: 34%;
    margin-top: 40px;
    padding: 5px 10px;
    transition: all .3s ease-in-out 0s;
    text-align: center;
    color: #040404;
    border: medium none;
    border-radius: 3px;
    background: #26358c none repeat scroll 0 0;
}

.objects
{
    padding: 50px 0;
}

.objects .items .img
{
    overflow: hidden;
}
.objects .items .img img
{
    width: 100%;
}
.objects .items .cont
{
    padding: 0 5px 15px;
    text-align: center;
    background: #26358c;
}

.objects .items .cont .title
{
    font-size: 18px;
    font-weight: 600;
    padding: 10px;
    border-bottom: 2px solid #fff;
}
.objects .items .cont .name
{
    font-size: 18px;padding: 10px;
}
a.btn
{
    font-size: 18px;
    font-weight: 600;
    position: relative;
    display: block;
    width: 80%;
    margin: 0 auto;
    padding: 4px;
    text-align: center;
    color: #212121;
    border: 1px solid #fff;
}
.objects .more
{
    text-align: center;
}
.more a.more_btn
{
    margin-left: 0;
}
a.more_btn
{
    display: inline-block;
    margin-left: 30px;
    padding: 10px 40px;
    transition: all .3s ease-in-out;
    color: #040404;
    border-radius: 3px;
    background: #26358c;
}

.mb_30
{
    margin-bottom: 30px;
}
.clients
{
    padding: 50px 0;
}
.clients .block
{
    text-align: center;
}
.clients .block img
{
    margin: 10px 20px;
}
.recall .more_btn
{
    margin: 0;
}
.recall .items
{
    margin-bottom: 100px;
}
.recall .items .image-photo img
{
    width: 98%;
}
.recall .items .margin_bot
{
    margin-bottom: 20px;
}
.recall .items .recall-text
{
    font-weight: 600;
    margin-top: 22px;
    padding: 25px 15px;
    border-radius: 3px;
    background: #f5f3f3;
}

.recall .items .recall-text:before
{
    position: absolute;
    top: 65px;
    left: -5px;
    content: '';
    border: 10px solid transparent;
    border-right: 10px solid #f5f3f3;
}

.recall .items .author
{
    margin-top: 10px;
}
.recall .items .author .mod-titles
{
    font-size: inherit;
    font-weight: bold;
    line-height: 18px;
    text-align: left;
}
.recall .items .author .desc
{
    font-weight: 600;
}
.modal-href
{
    margin-top: 20px;
    text-align: right;
}
.modal-href span
{margin-bottom: 10px;
    cursor: pointer;

    color: #6b9bef;
    border-bottom: 1px solid #6b9bef;
}
.modal-href span:active
{
    cursor: pointer;

    color: #363cdf;
    border-bottom: 1px solid #363cdf;
}
.modal-href div
{
    margin-bottom: 10px;
}
.contact
{
    padding-top: 40px;
    color: #fff;
    background: #343539;
    background-size: cover;
}
.contact .h-block
{
    color: #26358c;
    border: 0;
}
.contact .block-text
{
    font-size: 20px;
    margin-top: 50px;
}
.contact .block-text span
{
    color: #26358c;
}
.contact .soc
{
    overflow: hidden;
    margin-top: 60px;
}
.contact .logo
{
    float: left;
    width: 50%;
    margin-top: 15px;
}
.contact .soc .socs
{
    float: left;width: 50%;
}
.contact .soc .socs .title
{
    font-size: 24px;
    font-weight: 600;

    color: #26358c;
}
.contact .soc .socs ul
{
    overflow: hidden;
    margin: 15px 0 10px -15px;
    padding-left: 0;

    list-style: none;
}
.contact .soc .socs ul li
{
    float: left;margin: 0 15px;
}
.contact .soc .socs ul li a i
{
    font-size: 40px;
    transition: all .3s ease-in-out;
    color: #fff;
}
.contact .soc .socs ul li a:hover i
{
    color: #26358c;
}
.form .title
{
    font-size: 36px;
    font-weight: 600;
    margin-bottom: 15px;
    color: #26358c;
    border-bottom: 2px solid #26358c;
}
.form form label
{
    font-size: 18px;
    font-weight: normal;
}




.form-control

{
border: 1px solid #d9d9d9;
border-radius: 0;
font-family: "Open Sans Regular"; 
font-size: 14px;
display: inline;
}


.map .zag_map
{font-size: 36px;
    font-weight: 600;
    position: relative;
    height: 105px;
    padding: 20px 0 30px;
    text-align: center;
    color: #26358c;
    background: #343539;
    background-size: cover;
}

.map .zag_map:before
{
    position: absolute;
    z-index: 20;
    top: 84px;
    right: 0;
    left: 0;
    width: 101px;
    height: 75px;
    margin: 0 auto;

    content: '';background: url(../img/row_b.png) no-repeat 0 0;
}

.map .line
{
    position: absolute;
    bottom: 19px;
    width: 100%;height: 2px;

    background: #26358c;
}

.map .karta
{
    position: relative;
}
.map .karta img
{
    width: 100%;
}

footer {
    position: relative;
    margin-top:36px;
    color: #fff;
    padding-top: 27px;    
    background: #26358c;
}

footer .copy
{
    font-size: 22px;    
    font-family: 'Open Sans Bold', arial;
    font-weight: bold;
    padding-bottom: 36px;
}




.big_img img
{
    width: 100%;
}
.small_img
{
    overflow: hidden;

    margin-top: 25px;
}
.small_img img
{
    width: 100%;
    cursor: pointer;
}
div.modal-content
{
    
    padding: 20px;
    position: relative!important;
    z-index: 3000;
    max-width: 350px;
    margin: auto;
    
}

button.close
{
    position: absolute;
    z-index: 9999;
    top: 10px;
    right: 10px;
}
.big .title
{
    font-size: 24px;
    font-weight: 600;
    line-height: 26px;
    margin-bottom: 10px;
}

.big .name
{
    font-size: 24px;
    font-weight: normal;
}
.big .text
{
    font-size: 18px;
    font-weight: normal;
    padding: 15px 0;
}

.big .way
{font-size: 30px;
    font-weight: bold;
    line-height: 32px;
    margin-bottom: 15px;

    text-align: center;color: #26358c;
}
.modal .more_btn
{
    font-size: 20px;

    margin-left: 0;
}

.modal_calculate .more_btn
{
    font-size: 20px;
    width: 30%;
}.modal_calculate .form-horizontal .label-block
{

    font-size: 36px;

    text-align: left;
}

.modal_calculate .form-horizontal .form-control
{
    display: inline-block;
    width: 70%;
}

.modal_calculate .form-horizontal .form-input-block
{margin-top: 20px;
    margin-left: 40px;

    text-align: left;
}
.modal_calculate .form-horizontal .form-input-block label
{
    text-align: left;
}
.modal_calculate .form-horizontal .form-input-block .l-radio
{
    margin-right: 55px;
}
.modal_calculate .form-horizontal .form-input-img-block
{
    margin-top: 20px;
    text-align: center;
}
.modal_calculate .form-horizontal .form-input-img-block img
{
    width: 85%;
}
.modal_calculate .form-horizontal .info
{margin-top: 20px;
    margin-left: 30px;
    text-align: left;
}
.modal_calculate .form-horizontal .info label
{
    text-align: left;
}

.modal_calculate .form-horizontal .info .input-info label
{
    width: 100%;
}
.modal_serv_video .form-horizontal
{
    padding-top: 40px;
}
.modal_service_clients .form-horizontal
{
    padding-top: 40px;
}
.modal_recall p
{
    font-weight: 600;
}
.modal_recall .image-photo img
{
    width: 95%;
}
.modal_recall .image-doc img
{
    width: 95%;
}
.modal_recall .author .mod-titles
{
    font-size: inherit;
    font-weight: bold;
    line-height: 18px;
    text-align: left;
}

.modal_recall .author .desc
{
    font-weight: 600;
}

.raz
{
    display: table;
}.raz div
{
    display: table-cell;
    vertical-align: top;
}

.modal_turnkey .pse-table
{
    display: table;
    float: left;
    margin-right: -4px;
    margin-left: -4px;
    padding: 35px 50px;
}

.modal_turnkey .pse-table:nth-child(2n+1)
{
    background: #f5f3f3;
}.modal_turnkey .pse-table .name-t
{
    margin-bottom: 20px;
}.modal_turnkey .pse-table span
{
    font-weight: bold;
}

.modal_turnkey .pse-table .desc-t
{display: table-cell;

    padding-left: 30px;
    vertical-align: top;
}
.modal_turnkey .pse-table .image
{
    display: table-cell;
}

.modal_turnkey .h-block
{
    margin-bottom: 20px;
}
.modal_turnkey .content-p
{font-weight: 500;

    margin-bottom: 20px;
}

.modal_turnkey .content-h
{font-size: 24px;

    margin-bottom: 20px;text-align: center;
}

.modal_turnkey .content-f
{
    line-height: 30px;margin-top: 25px;
}

.modal_turnkey .content-f .header
{
    font-size: 32px;
}

.titles
{
    font-size: 1.5em;
    font-weight: bold;
    line-height: 38px;
    text-align: center;
    margin-bottom: 20px;
}


.mod-titles
{
    font-size: 1.5em;
    font-weight: bold;
    line-height: 38px;
    text-align: center;
}

.desks
{
    font-size: 18px;
    font-weight: 600;
    padding: 10px 0;
    text-align: center;
}

.interes
{
    font-size: 24px;
    font-weight: bold;
    margin-bottom: 10px;
    text-align: center;
}

.mt-20
{
    margin-top: 20px;
}.float-left
{
    float: left;
}.plus
{
    display: inline-block;width: 30%;
    height: 100%;
    text-align: center;
    vertical-align: middle;
}
.plus .image
{
    position: relative;
    top: 30%;
    left: 100%;
}
.plus:hover
{
    cursor: pointer;
}
.minus
{
    display: inline-block;
    width: 30%;height: 100%;
    text-align: center;
    vertical-align: middle;

}.minus .image
{
    position: relative;
    top: 30%;
    left: 100%;
}
.minus:hover
{
    cursor: pointer;
}
.val-calculated
{
    display: table-cell;
    width: 35%;
    height: 100%;
    text-align: center;
    vertical-align: middle;
    border-right: 1px solid #888;
    border-left: 1px solid #888;
}

.val-calculated input
{
    font-size: 24px;
    position: relative;
    top: 0;
    width: 60%;
    height: 30px;
    text-align: center;
    border: none;
    outline: none;
}
.calc
{
    display: table;
    width: 170px;
    height: 50px;
    border: 1px solid #888;
    border-radius: 4px;
}

#upload_file
{
    position: relative;
    width: 100%;
    height: 100%;
    padding: 10px;
    cursor: pointer;
    text-align: center;
    border: 1px dashed #bbb;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    background-color: #ddd;
}

.men
{
    height: 180px;
}

.lady
{
    height: 200px;
}
.karta
{
    display: block;
    width: 800px;margin: auto;
}

header .b1 {

    margin:0;
}

header .i1 {
    margin:0;

    width: 36px;
    height: 36px;
    background-repeat: no-repeat;
    display: inline-block;
    margin: 0px 2px;
    cursor: pointer;
}




footer .i1 {
    margin:0;
    width: 36px;
    height: 36px;
    background-repeat: no-repeat;
    display: inline-block;
    margin: 0px 2px;
    cursor: pointer;
    float: right;
}






footer .i1.v11 {
    background-image: url(../img/instagram2.png);
    background-position: center center;
    
}
footer .i1.v22 {
    background-image: url(../img/facebook2.png);
    background-position: center center;

}

footer .i1.v33 {
    background-image: url(../img/vkontakte2.png);
    background-position: center center;
}

footer .i1.v33:hover {
    background-color:#1b8d88;
    border-radius: 18px;
}

footer .i1.v22:hover {
    background-color:#1b8d88;
    border-radius: 18px;
}

footer .i1.v11:hover {
    background-color:#1b8d88;
    border-radius: 18px;
}





.second_screen {
    background: url(../img/second_bg.jpg) no-repeat;
    background-size: contain;
    margin-bottom: 53px;
}

.activity {
   font-family: 'Open Sans Bold', arial;
    color: #2c2c2c;
    font-size: 27px;
    line-height: 62px;
    padding-bottom: 42px;
    padding-top: 80px;
}

.activity > span {
    color: #26358c;
    font-size: 27px;

}


.activity_title {
    font-family: 'Open Sans Semibold';
    font-size: 26px;
    padding-left: 20px;
    min-height: 74px;
}

.short_price {
    font-family: 'Open Sans Bold', arial;
    font-size: 27px;
   color: #26358c;
}

.main_group {
    
    font-size: 24px;
    font-family: 'Open Sans Semibold';
    text-align: center;
    
}

.service_group {
    width: 100%;
    color: #fff;    
    font-size: 20px;
    font-family: "Open Sans Regular";
    padding-left: 20px;   
    margin-bottom: 3px;
    border-radius: 4px;
   
    min-height: 54px;
    background: #26358c;

   
}


.service {
    width: 90%;
    display: inline-block;
    font-size: 18px;
    font-family: "Open Sans Regular";
    margin-bottom:5px;
    padding-bottom: 5px;   
    padding-left: 20px;

}


@media screen and (max-width : 992px){

.service {
    
     width: 70%;;
   
}
}


.minus_close {
    text-align: center;
    font-size: 22px;
    font-family: "Open Sans Regular";
    color: #26358c;
}








.sign_now {
    font-family: 'Open Sans Bold', arial;
    font-weight: bold;
    border-top-right-radius: 8px;
    border-top-left-radius: 8px;
    height: 108px;
     background-color: #26358c;
     color: #fff;     
    font-size: 19px;
    text-align: center;
    padding-top: 5px;
    
}



.about_center {
    box-sizing: border-box;
}


.about {
    font-family: 'Open Sans Regular';
    font-size: 16px;
    line-height: 20px;
    color: #848484;
    overflow:hidden;
    padding-top: 10px;
    padding-bottom: 10px;
}




.about_title {
    font-family: 'Open Sans Bold';
    font-size: 25px; 
    color: rgb(48, 48, 48);
    line-height: 1.333;   
    color: #303030;    
    padding-top: 10px;
    padding-bottom: 10px;
    font-size: 27px; 
}



p.title {

    text-align: center;
    font-size: 27px;
    font-family: 'Open Sans Bold', arial;
}




.form_title {
    text-align: center;
    font-size: 27px;
    font-family: 'Open Sans Bold', arial;
    font-weight: bold;
    padding-top: 1px;
    
}


.section_title2 {
    text-align: center;
    font-size: 27px;
    font-family: 'Open Sans Bold', arial;
    font-weight: bold;
    padding-top: 10px;
    padding-bottom: 10px;
}

#contacts {
    float: right;
}


.title_doctor {
font-size: 18px;
    font-family: "Open Sans Regular";
    
}


span.green_text {
    color: #26358c;
}

.upper {
    text-transform: uppercase;
}

a.btn.more_information {
    border: 1px solid #26358c;
    color: #26358c;
    width: 152px;
    height: 45px;
    padding: 5px;
    margin-bottom: 12px;
    margin-top: 12px;
}


.price {
    display: inline-block;
    text-align: left;
     font-family: 'Open Sans Bold', arial;
    font-weight: bold;

}






#our_advantages {
    background: url(../img/advantage_back.jpg) no-repeat;
    background-size: cover;
    background-position: center;

    
    
}


.sevices {
   height: 100%;
   padding: 8px;
    border-bottom: 1px solid #d9d9d9;
   
}

.arrow {
    width: 25px;
    height: 25px;
    margin-top: 10px;
    background: url(../img/arrow_down.png) no-repeat;
    display: inline-block;
    float: right;
    margin-right: 25px;


}

.add_question {
    margin-top: 35px;
}

.add_sugest {
    padding-top: 15px;
}

.get_free {
    padding-top: 44px;
    padding-bottom: 44px;
    text-align: center;
}

.add_info {
    font-size: 14px;
    font-family: "Open Sans Regular";

}

div.target {
    border: 5px solid #fff;
}

.watch {
    opacity: 0.7;
}

img.watch:hover {
opacity: 0;
}

img#video {
    height: 348px;
    width: 494px;
}


img#video:hover {
   border: 2px solid #1b8d88;
   border-radius: 18px;
}


.cheap {
    margin-top: 20px;
    width: 100%;
    text-align: justify;
    padding-bottom: 20px;
}

.cheaps {
    margin-bottom: 42px;   
   }



.hurry_up {
    margin-top: 20px;
}

.cure {
    margin-bottom: 59px;
}


.our_examples {
    margin-bottom: 86px;
}


.hurry_up2  {
    padding-top: 39px;
}

.pad {
    border: 1px solid #d9d9d9;
    border-bottom-left-radius: 8px;
    border-bottom-right-radius: 8px;
      padding: 0;
      
      margin-right: 15px;
      margin-left: 15px;
      margin-bottom: 32px;
    

}

 @media screen and (max-width : 991px){

 .pad {
    
      width: auto;
   
 }

  #main_form {     
    float: none;
    margin:auto;
}
 }

@media screen and (min-width : 769px){
.pad
{
   
    width: 95%;    
    text-align: center;  
    margin: 0 auto;
   
}
}


.direction_info {
    box-sizing: border-box;
    // display: flex;
}

.img_doctor {
  max-width: 200px;
  display: block;
  
  margin: auto;
  margin-bottom: 20px;
}

.doctors_activity,
.doctors_certificate {
    padding-left: 30px;
}

div.mod-titles {
    font-size: 14px;
   
    font-family: "Open Sans Regular";
    font-weight: normal;
}

span.service2 {
    text-align: center;
    font-family: 'Open Sans Bold';
    font-weight: bold;
    font-size: 24px;
}

span.services2 {
    width: 80%;
    display: inline-block;
    text-align: left;
    padding-left: 15px;
}

.price2 {
    width: 20%;
   float: right;
}





.video_container {
    width: 100%;
    height: 320px;
    
}

video {
   
    height: 100%;
    width: 90%;
    display: block;
    margin:auto;
    
    
}



.adv_text
 {
    
    
    font-size: 16px;
   
    padding-left: 16px;
    overflow:hidden;
    padding-top: 30px;
    padding-bottom: 20px;
    line-height: 25px;
    text-align: center;
}

.adv {
    width: 42px;
    float: left;
    display: block;
    padding-top: 30px;
    
}


.col_1_of_3 {
    display: flex;
}
.col_1_of_3:first-child { 
    margin-left: 0;
     }

.span_1_of_3  p {
    color:#000;
    margin-bottom:30px;
    font-size:1.2em;
    line-height: 1.2;
    font-family: 'Open Sans Semibold';
    margin-top: 0px;
    letter-spacing: -1px;
}







/* image loading background image */

#gallery {
  visibility: hidden;
}
#gallery li.loading {
  background: url(../images/spinner.gif) no-repeat center center;
}


/* image caption */

p.fg-caption {
  color: #000;
  font-size: 1.5em;
  font-weight: normal;
  line-height: 1.5em;
  margin: 0;
  text-align: left;
  background: transparent!important;
  font-family: 'Open Sans Semibold'; 
}


.item {
    display: block;
    width: 202px;
    height: 180px;

}

.item_picture {
   
    width: 202px;
    height: 180px;

}

.carousel-inner {
    
    max-width: 202px!important;
}

.myCarousel {
    max-width: 202px;
    margin: auto;

}

input.sign_on {
   
    border: 2px solid rgb(238, 238, 238);
}


.forms-control {
    margin-right: 50%;
    margin-bottom: 20px;
    margin-top: 10px;
    width: 80%;
    margin-left: 10%;
    display: block;
    float: left;
}

.modal {
    overflow-x: hidden;
}

.modal-call-body {
   min-height: 300px;
}
#sign {
    width: 60%;
     margin-left: 20%;
     margin-right: 50%;
}

.well {
    padding-top: 5px!important;
}


@media screen and (max-width : 768px){
    .who .items
{
    position: relative;
   display: inline-block;
    text-align: center;  
    width: 100%;
     
}


   .header {
   
    position: relative;
   
}

.stage {
    
    
    width: 100%;
    

}

.sign_now {
   
    font-size: 16px;
    
}
.who .items {
    
    display: block;
}
.who .items .pad
{
   
    width: 60%;
    margin-right: 10px; 
    margin-left: 10px;
    text-align: center;  
    margin: 0 auto;
   
}
// .stage {
//     width: 100%;
//     display: block;    
// }

}


.cd-testimonials-wrapper {
  position: relative;
  width: 90%;
  max-width: 768px;
  background-color: #fff;
  margin: 2em auto;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  padding: 20px 40px 64px;
  z-index: 1;
  border: 1px solid #555;
  border-radius: 15px;
}

@media only screen and (min-width: 768px) {
  .cd-testimonials-wrapper {
    margin: 4em auto;
    padding: 64px 50px 64px;
  }
}
@media only screen and (min-width: 1170px) {
  .cd-testimonials-wrapper::after {
    /* quotation mark visible */
    display: block;
  }
}

.cd-testimonials {
  color: #333;
  text-align: center;
}
.cd-testimonials::after {
  clear: both;
  content: "";
  display: table;
}
.cd-testimonials > li {
  position: absolute;
  opacity: 0;
}
.cd-testimonials > li:first-child {
  position: relative;
  opacity: 1;
}
.cd-testimonials p {
  
  
  line-height: 1.4;
  margin-bottom: 1em;
  padding: 0 14px;
}
@media only screen and (min-width: 768px) {
  .cd-testimonials p {
    font-size: 16px;
    font-size: 1.375rem;
  }
}
@media only screen and (min-width: 1170px) {
  .cd-testimonials p {
    font-size: 16px;
    font-size: 1.1rem;
    line-height: 1.6;
  }
}

.cd-author img, .cd-author .cd-author-info {
  display: inline-block;
  vertical-align: middle;
}
.cd-author img {
  width: 90px;
  height: 90px;
  border-radius: 50%;
  margin-right: 5px;
  box-shadow: 0 0 6px rgba(0, 0, 0, 0.3);
}
.cd-author .cd-author-info {
  text-align: left;
  line-height: 1.2;
}
.cd-author .cd-author-info li:first-child {
  font-size: 14px;
  
}
.cd-author .cd-author-info li:last-child {
  font-size: 16px;
  
  color: #000;
}
@media only screen and (min-width: 768px) {
  .cd-author img {
    width: 90px;
    height: 90px;
  }
  .cd-author .cd-author-info {
    line-height: 1.4;
  }
  .cd-author .cd-author-info li:first-child {
    font-size: 16px;
    font-size: 1rem;
  }
  .cd-author .cd-author-info li:last-child {
    font-size: 14px;
    font-size: 0.875rem;
  }
}

.flex-direction-nav li {
  position: absolute;
  height: 100%;
  width: 40px;
  top: 0;
}
.flex-direction-nav li:first-child {
  left: 0;
}
.flex-direction-nav li:last-child {
  right: 0;
}
.flex-direction-nav li a {
  display: block;
  height: 100%;
  width: 100%;
  /* image replacement */
  overflow: hidden;
  text-indent: 100%;
  white-space: nowrap;
  -webkit-transition: background-color 0.2s;
  -moz-transition: background-color 0.2s;
  transition: background-color 0.2s;
}
.no-touch .flex-direction-nav li a:hover {
  background-color: #323234;
}
.flex-direction-nav li a::before, .flex-direction-nav li a::after {
  /* left and right arrows in css only */
  content: '';
  position: absolute;
  left: 50%;
  top: 50%;
  width: 2px;
  height: 13px;
  background-color: #323234;
}
.flex-direction-nav li a::before {
  -webkit-transform: translateY(-35px) rotate(45deg);
  -moz-transform: translateY(-35px) rotate(45deg);
  -ms-transform: translateY(-35px) rotate(45deg);
  -o-transform: translateY(-35px) rotate(45deg);
  transform: translateY(-35px) rotate(45deg);
}
.flex-direction-nav li a::after {
  -webkit-transform: translateY(-27px) rotate(-45deg);
  -moz-transform: translateY(-27px) rotate(-45deg);
  -ms-transform: translateY(-27px) rotate(-45deg);
  -o-transform: translateY(-27px) rotate(-45deg);
  transform: translateY(-27px) rotate(-45deg);
}
.flex-direction-nav li:last-child a::before {
  -webkit-transform: translateY(-35px) rotate(-45deg);
  -moz-transform: translateY(-35px) rotate(-45deg);
  -ms-transform: translateY(-35px) rotate(-45deg);
  -o-transform: translateY(-35px) rotate(-45deg);
  transform: translateY(-35px) rotate(-45deg);
}
.flex-direction-nav li:last-child a::after {
  -webkit-transform: translateY(-27px) rotate(45deg);
  -moz-transform: translateY(-27px) rotate(45deg);
  -ms-transform: translateY(-27px) rotate(45deg);
  -o-transform: translateY(-27px) rotate(45deg);
  transform: translateY(-27px) rotate(45deg);
}
@media only screen and (min-width: 768px) {
  .flex-direction-nav li {
    width: 50px;
  }
}
@media only screen and (min-width: 1170px) {
  .flex-direction-nav li a::before, .flex-direction-nav li a::after {
    background-color: #5e5e63;
    -webkit-transition: background-color 0.2s;
    -moz-transition: background-color 0.2s;
    transition: background-color 0.2s;
  }
  .flex-direction-nav li a:hover::before, .flex-direction-nav li a:hover::after {
    background-color: #333;
  }
}

.cd-see-all {
  position: absolute;
  z-index: 1;
  left: 0;
  bottom: 0;
  width: 100%;
  height: 50px;
  line-height: 50px;
  background-color: #252527;
  text-align: center;
  text-transform: uppercase;
  color: #6b6b70;
  font-weight: 700;
  font-size: 12px;
  font-size: 0.75rem;
  -webkit-transition: color, 0.2s;
  -moz-transition: color, 0.2s;
  transition: color, 0.2s;
}
.no-touch .cd-see-all:hover {
  color: #79b6e4;
}

.cd-testimonials-all {
  position: fixed;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  background-color: #ffffff;
  z-index: 2;
  visibility: hidden;
  opacity: 0;
  -webkit-transition: opacity .3s 0s, visibility 0s .3s;
  -moz-transition: opacity .3s 0s, visibility 0s .3s;
  transition: opacity .3s 0s, visibility 0s .3s;
}
.cd-testimonials-all .cd-testimonials-all-wrapper {
  position: absolute;
  left: 0;
  top: 0;
  height: 100%;
  width: 100%;
  overflow: auto;
}
.cd-testimonials-all .cd-testimonials-all-wrapper > ul {
  width: 90%;
  max-width: 1170px;
  margin: 4em auto;
}
.cd-testimonials-all .cd-testimonials-all-wrapper > ul::after {
  clear: both;
  content: "";
  display: table;
}
.cd-testimonials-all .cd-testimonials-item {
  margin-bottom: 2em;
  opacity: 0;
  /* Force Hardware Acceleration in WebKit */
  -webkit-transform: translate3d(0, 0, 0) scale(0.4);
  -moz-transform: translate3d(0, 0, 0) scale(0.4);
  -ms-transform: translate3d(0, 0, 0) scale(0.4);
  -o-transform: translate3d(0, 0, 0) scale(0.4);
  transform: translate3d(0, 0, 0) scale(0.4);
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  -webkit-transition: -webkit-transform .3s, opacity .3s;
  -moz-transition: -moz-transform .3s, opacity .3s;
  transition: transform .3s, opacity .3s;
}
.cd-testimonials-all p {
  position: relative;
  background: #79b6e4;
  color: #ffffff;
  padding: 2em;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  line-height: 1.4;
  border-radius: 0.25em;
  margin-bottom: 1em;
}
.cd-testimonials-all p::after {
  /* creating the triangle in css */
  content: '';
  position: absolute;
  top: 100%;
  left: 2em;
  height: 0;
  width: 0;
  border: 8px solid transparent;
  border-top-color: #79b6e4;
}
.cd-testimonials-all .cd-author {
  text-align: left;
  margin-left: 1.5em;
}
.cd-testimonials-all .cd-author img {
  box-shadow: 0 0 0 transparent;
}
.cd-testimonials-all.is-visible {
  visibility: visible;
  opacity: 1;
  -webkit-transition: opacity .3s 0s, visibility 0s 0s;
  -moz-transition: opacity .3s 0s, visibility 0s 0s;
  transition: opacity .3s 0s, visibility 0s 0s;
}
.cd-testimonials-all.is-visible .cd-testimonials-all-wrapper {
  -webkit-overflow-scrolling: touch;
}
.cd-testimonials-all.is-visible .cd-testimonials-item {
  opacity: 1;
  -webkit-transform: translate3d(0, 0, 0) scale(1);
  -moz-transform: translate3d(0, 0, 0) scale(1);
  -ms-transform: translate3d(0, 0, 0) scale(1);
  -o-transform: translate3d(0, 0, 0) scale(1);
  transform: translate3d(0, 0, 0) scale(1);
}
@media only screen and (min-width: 768px) {
  .cd-testimonials-all .cd-testimonials-item {
    width: 46%;
    margin: 0 2% 3em;
  }
  .cd-testimonials-all .cd-author {
    margin-left: 1em;
  }
}
@media only screen and (min-width: 1170px) {
  .cd-testimonials-all .cd-testimonials-item {
    width: 30%;
    margin: 0 1.6666% 3em;
  }
}

.close-btn {
  position: fixed;
  display: block;
  width: 40px;
  height: 40px;
  top: 50px;
  right: 3%;
  /* image replacement */
  overflow: hidden;
  text-indent: 100%;
  white-space: nowrap;
}
.close-btn::before, .close-btn::after {
  /* close icon in css */
  content: '';
  position: absolute;
  display: inline-block;
  width: 2px;
  height: 24px;
  top: 8px;
  left: 19px;
  background-color: #39393c;
}
.close-btn::before {
  -webkit-transform: rotate(45deg);
  -moz-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  -o-transform: rotate(45deg);
  transform: rotate(45deg);
}
.close-btn::after {
  -webkit-transform: rotate(-45deg);
  -moz-transform: rotate(-45deg);
  -ms-transform: rotate(-45deg);
  -o-transform: rotate(-45deg);
  transform: rotate(-45deg);
}


a.instagram {
    background-image: url(../img/social.png);
     background-position: center center;
     display: inline-block;
     height: 38px;
     width: 38px;
     background-size: contain;
     text-align: center;
     margin-top: 10px;
     
}

footer a.phone {
color: #fff;
display: block;
text-align: right;
}



























